<ion-pane>
<ion-content class="city-lights-bg" style="text-align: center;padding: 10px;">
<img ng-src="img/icon.png" style="width: 250px; height: 250px; ">
<div class="list">
  <label class="item item-input" style="margin-bottom: 5px;">
    <input type="text" placeholder="Seu usuário" style="color: #387EF5">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Sua senha" style="color: #387EF5">
  </label>
</div>
<button class="button button-block button-positive" ng-click="redirectTo('movies')">Entrar!</button>
<h5 style="color: #efefef; padding: 10px; border-radius: 5px;">Entre também com:</h5>
<button style="font-size: 22px;"class="button icon-only button-positive button-big ion-social-facebook" ng-click="login()"></button>
<button style="font-size: 22px;"class="button icon-only button-assertive button-big ion-social-googleplus-outline"></button>
<button style="font-size: 22px;"class="button icon-only button-positive button-big ion-social-twitter"></button>
</ion-content>
</ion-pane>