<ion-pane>

    <ion-header-bar class="bar-stable bar-balanced">
        <button class="button button button-icon icon ion-ios-arrow-left" ng-click="goBack()" ng-if="hasViewToReturn()"></button>
        <h1 class="title">Sobre o Ventura Limão</h1>
    </ion-header-bar>

    <ion-content class="has-header has-footer">
        <div class="banner" style="background: url('./img/city-wallpaper.jpg'); background-position: center;"></div>

        <h4 class="event-title" style="text-align: center;">
               Seja bem vindo ao Ventura Limão!
        </h4>

        <div class="about-text" style="margin-top: 0px;">
            O Ventura Limão surgiu da busca por eventos que quebrassem a rotina, quaisquer que fossem suas naturezas.
            <br> Aqui, você encontrará os melhores shows, peças teatrais, festas, feiras de rua, palestras...
            <br>Vale tudo para refrescar os dias na região metropolitana de Porto Alegre e entrar em uma atmosfera descontraída! Gostou do aplicativo?
            <br>Então faz uma recomendação show de bola, e aproveita para nos indicar eventos para que nós possamos manter nossa base sempre atualizada e com o melhor da cena cultural!
            <br>
            <br>
            <div ng-if="buildVersion" style="text-align: center;">Versão {{buildVersion}}.</div>
        </div>

    </ion-content>
    <!-- Footer -->
    <div ng-include="'sections/components/footer.html'"></div>
</ion-pane>