<ion-pane>

    <ion-header-bar class="bar-stable bar-balanced">
        <button class="button button button-icon icon ion-ios-arrow-left" ng-click="goBack()" ng-if="hasViewToReturn()"></button>
        <h1 class="title">Sobre o Ventura Limão</h1>
    </ion-header-bar>

    <ion-content class="has-header has-footer">
        <div class="banner" style="background: url('./img/city-wallpaper.jpg'); background-position: center;"></div>

        <h4 class="event-title" style="text-align: center;">
               Seja bem vindo ao Ventura Limão!
        </h4>

        <div class="about-text" style="margin-top: 0px;">
            Aqui, você vai encontrar os mais diversos focos de entretenimento, como as melhores peças de teatro, shows, festas, e mesmo palestras: vale tudo para combater a monotonia!
            <br> O Ventura Limão nasceu da busca por eventos para amenizar todo e qualquer tipo de rotina.
            <!--            Proin nec tempor mauris. Nunc ac purus non lectus rhoncus tristique sit amet id tortor. Sed iaculis sagittis quam, sit amet pellentesque ex cursus nec. Aenean condimentum felis sit amet nunc accumsan lacinia. Vestibulum euismod auctor molestie. Phasellus cursus tellus justo, ac ultrices purus mattis id. Integer velit elit, efficitur vel ligula ac, vehicula hendrerit ante. Vivamus ut tincidunt tortor, in aliquam lectus. Curabitur iaculis eu dui ut porta. Sed bibendum, lorem vitae gravida auctor, augue nisl pretium quam, et mollis sem enim sit amet tellus. Nulla at mi posuere, auctor ex sit amet, ullamcorper ligula. Vivamus imperdiet nulla sed ultricies bibendum. Donec dapibus erat ante, id euismod neque vehicula consectetur. Proin eget dictum sem. Aenean suscipit massa vitae erat eleifend auctor.-->
        </div>
        <!--       <img ng-src="img/event_icon.png" style="height: 200px; margin: 10px;">-->

    </ion-content>
    <!-- Footer -->
    <div ng-include="'sections/components/footer.html'"></div>
</ion-pane>