<ion-pane>
    <ion-header-bar class="bar-stable bar-balanced">
        <button class="button button button-icon icon ion-ios-arrow-left" ng-click="goBack()" ng-if="hasViewToReturn()"></button>
        <h1 class="title">Ventura Limão</h1>
    </ion-header-bar>

    <div class="bar bar-header item-input-inset" style="top: 44px; border-color: #FEF; height: 50px;">
        <!-- Search bar -->
        <div class="item-input-inset item-balanced" style="width: 100%;">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Filtre pelo nome do evento. Exemplo: Fantaspoa" style="width: 100%; text-align: center;" ng-model="keyword" ng-change="scrollTop()">
            </label>
        </div>
    </div>

    <ion-content class="has-header has-footer" style="top: 87px;">
        <div class="list">
            <a class="item item-thumbnail-left" href="#" ng-click="redirectToEventDetails(event.id)" ng-if="event.name" data-ng-repeat="event in events | orderBy:'-date':true | filter: keyword">
                <img src="img/event_icon.png" style="width: 200px; height: 159px; margin-top: 10px;">

                <h2 class="event-title">{{::event.formatedTime}}h - {{::event.name}}</h2>
                <p class="event-description" ng-if="event.formatedDate">
                    <i class="pink-font ion-ios-calendar-outline"></i> {{::event.formatedDate}}
                </p>
                <p class="event-description" ng-if="event.place.location.city">
                    <i class="pink-font ion-ios-location"></i> {{::event.place.location.city}}
                </p>
                <p class="event-description"> {{::event.place.name}}</p>
                <p class="event-description">{{::event.place.location.street}}</p>
            </a>
        </div>

    </ion-content>
    <!-- Footer -->
    <div ng-include="'sections/components/footer.html'"></div>

</ion-pane>