<ion-view hide-nav-bar="true">
<ion-content class="city-background">
<div class="list list-inset transparent-background" style="text-align: center;">
	<!-- LOGO VENTURA LIMÃO -->
	<div>
		<div>
			<img ng-src="img/event_icon.png" style="width: 150px; height: 150px; opacity: 0.9;">
			<img ng-src="img/slogan.png" style="width: 200px; height: 45px;">
		</div>
	</div>
	
	<div>
		<h4 style="color: white;">Acesse:</h4>
		<!-- E-MAIL -->
		<label class="item item-input with-shadows" style="margin-bottom: 4px; margin: 2px;">
			<input type="text" placeholder="Seu e-mail" style="text-align: center;" ng-model="user.email">
		</label>
		<!-- SENHA -->
		<label class="item item-input" style="margin: 2px;">
			<input type="password" placeholder="Sua senha" style="text-align: center;" ng-model="user.password">
		</label>
		<div class="button-pink credentials-button with-shadows" ng-click = "redirectTo('#/events');" style="margin-top: 10px; margin-bottom: 10px;">
			Acessar
		</div>
		<div class="blue-facebook-button credentials-button with-shadows" ng-click = "facebookLogin();" style="margin-top: 5px;">
			<i class="ion-social-facebook facebook-label"></i>  Acessar com Facebook
		</div>
		<div class="row" style="padding: 0px; margin-top: 10px;">
			<div class="button-pink credentials-button with-shadows col" style="font-size: 12px;">
				Esqueci minha senha
			</div>
			<div class="button-pink credentials-button with-shadows col"  ng-click = "redirectTo('#/signup');">
				Cadastre-se
			</div>
		</div>
	</div>

</div>

</ion-content>
</ion-view>
