<div class="tabs tabs-icon-top tabs-balanced">

    <!-- EVENTS TAB  -->
    <a class="tab-item" href="#/events" ng-class="{'white-icon':currentView === 'EVENTS'}">
        <i class="icon ion-ios-calendar-outline"></i> Eventos
    </a>

    <!-- EVENTS MAP TAB  -->
    <a class="tab-item" href="#/cultureMap" ng-class="{'white-icon':currentView === 'EVENTS_MAP'}">
        <i class="icon ion-ios-navigate-outline"></i> Radar
    </a>

    <!-- ABOUT TAB  -->
    <a class="tab-item" href="#/about" ng-class="{'white-icon':currentView === 'ABOUT'}">
        <i class="icon ion-ios-information-outline"></i> Sobre
    </a>

</div>