/* Empty. Add your own CSS if you like */
/*Ionic Customization*/
.item-input-wrapper{
	background: #fff;
}

.tabs-icon-top.tabs .tab-item {
	color: white;
}

.button-big{
	border-radius: 50px;
	font-size: 35px;
	padding: 3px;
}

input{
	text-align: center;
	margin: 5px;
}

.city-lights-bg{
	background: url('../img/porto_alegre.jpg');
	background-position: center;
}

.green-bg{
	background-color: #25FF25;
}

.list{
	margin-bottom: 0px;
}

.button.button-block{
	margin-top: 5px;
}